.UserTitle {
	margin-bottom: 20px;
}
.User {
	display: flex;
	margin: 0 0 20px 40px;
}
.UserLeft {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.UserLeft img {
	width: 50px;
	height: auto;
	margin-bottom: 5px;
}
.UserLeft button {
	background-color: #0d6efd;
	border: none;
	color: #ffffff;
	border-radius: 3px;
	min-width: 65px;
	padding: 5px 0;
}
.UserLeft button[disabled] {
	background-color: #6c757d;
}
.UserInfo {
	margin-left: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 100%;
	max-width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5px 10px;
}
.UserInfoLeft {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.UserInfoLeft__Status {
	font-size: 14px;
	color: #6c757d;
}
.UserInfoRight p:first-child {
	margin-bottom: 10px;
}
.selectedPage {
	font-weight: bold;
}
.paginationBlock {
	margin-top: 30px;
}
.pagination {
	padding: .375rem .75rem;
	position: relative;
	display: inline-block;
	color: #0d6efd;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #dee2e6;
	margin-left: -1px;
}