.userPost {
	margin-top: 30px;
}
.userPost__text {
	width: 100%;
	padding: 0;
	text-indent: 15px;
	height: 75px;
	border: none;
	background-color: #e6eeea;
	font-size: 16px;
}
.allMessage {
	margin-top: 40px;
}
.title {
	margin-bottom: 10px;
}
.btn {
	margin-top: 10px;
}