.header {
	grid-area: header;
	background-color: #13ce66;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header img {
	width: 40px;
	margin-left: 15px;
}
.loginBlock {
	margin-right: 25px;
}
.loginBlock a {
	color: #ffffff;
	font-size: 18px;
}