.nav {
	grid-area: nav;
	background-color: #13ce66;
	padding: 15px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*Sidebar-Friends*/
.friends {

}

.friends__title {
	color: #ffffff;
	font-size: 22px;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.friendsBlock {
	width: calc(100% / 3);
}

.friendsBlock img {
	width: 40px;
	height: auto;
}

.friendsBlock__name {
	color: #ffffff;
}