.friendsList__elem {
	margin-bottom: 20px;
	padding-left: 30px;
	position: relative;
}
.friendsList__elem:before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background-color:  #0d6efd;
	border-radius: 50%;
	left: 15px;
	top: 50%;
	margin-top: -2.5px;
}
.friendsList__link {
	color: #0d6efd;
	text-decoration: none;
}
.active {
	color: #0a58ca;
	font-weight: bold;
}