.userMessage {
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.userMessage img {
	margin-right: 25px;
	width: 60px;
	height: auto;
}
.userMessage a {
	display: block;
	width: 100%;
	color: #0d6efd;
}