.dialogs {
	display: grid;
	grid-template-areas: 'title title' 'friendList messages';
	grid-template-columns: 1fr 2fr;
}
.friends {

}
.friends__title {
	grid-area: title;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.friendsList {
	grid-area: friendList;
	list-style-type: none;
}
.messages {
	grid-area: messages;
	border-left: 1px solid #ccc;
	padding-left: 70px;
}
.messages textarea {
	width: 100%;
	height: 75px;
	border: 1px solid #ddd;
	padding: 10px 15px;
}