.image {
	width: 100%;
	height: auto;
}
.userInfo {
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.userInfo__image {
	width: 120px;
	height: auto;
	margin-right: 25px;
	border-radius: 50%;
}
.userInfo ul {
	list-style-type: none;
}